<html>
<body>
  wikiの画像のURLを入力してください（例: http://wiki.4gamer.net/theme/4gamer/ggxrd/ss/sol/01.jpg）<br />
  ある程度それっぽく背景を抜いて抽出します
  <form method="get" action="diff">
    <input type="text" name="url">
    <input type="submit" value="抽出">
  </form>
</body
</html>
